* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3eeed;
}

:root {
  --font-size-super-heading: 96px;
  --font-weight-super-heading: 500;

  --font-size-footer-rights-text: 24px;
  --font-weight-footer-rights-text: 500;

  --Website-black-color: #505055;
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 120px;
  margin: 0;
  padding: 0;
  z-index: 1;
}
.header-container-left {
  display: flex;
  justify-content: left;
  width: 50%;
  text-align: left;
  padding: 30px;
  z-index: 1;
}
.header-container-right {
  display: flex;
  justify-content: right;
  width: 50%;
  padding: 10px;
  z-index: 1;
}
.button-group-container {
  margin: 15px;
  z-index: 1;
}
.cicular-button {
  width: 60px;
  height: 60px;
  margin: 5px;
  border-radius: 50%;
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
  font-size: 16px;
  z-index: 1;
}
.main-heading-container {
  width: 100%;
  height: calc(100vh - 160px - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 1;
}
.main-heading-homepage {
  font-size: var(--font-size-super-heading);
  font-weight: var(--font-weight-super-heading);
  color: var(--Website-black-color);
  z-index: 1;
}
.footer-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 1.8rem;
  z-index: 1;
}
.linkdin-circularbutton {
  width: 60px;
  height: 60px;
  margin: 5px;
  border-radius: 50%;
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
  font-size: 16px;
  z-index: 1;
}
.rights-line-homepage {
  font-size: var(--font-size-footer-rights-text);
  font-weight: var(--font-weight-footer-rights-text);
  color: var(--Website-black-color);
  z-index: 1;
}
.homepage,
.video-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
}
.video-container {
  width: 100%;
}
.background-video {
  object-fit: cover;
  z-index: -1;
}
.background-video,
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.overlay {
  background: hsla(10, 20%, 94%, 0.3);
  z-index: 1;
}
