* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3eeed;
}

:root {
  --font-size-super-heading: 96px;
  --font-weight-super-heading: 500;

  --font-size-footer-rights-text: 24px;
  --font-weight-footer-rights-text: 500;

  --Website-black-color: #505055;
}
