.main-heading-container {
  width: 100%;
  height: calc(
    100vh - 160px - 50px
  ); /* Assuming header is 80px and footer is 50px */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 1; /* Above the overlay */
}

.main-heading-homepage {
  font-size: var(--font-size-super-heading);
  font-weight: var(--font-weight-super-heading);
  color: var(--Website-black-color);
  z-index: 1; /* Above the overlay */
}
